<div class="post-process-container">
    <div class="post-event-title">发布您的活动</div>
    <div class="process-flex-container">
        <div class="basic-icon-item">
            <div ng-link="['BasicInfo']" class="basic-icon-active">1</div>
            <div ng-link="['BasicInfo']" class="basic-text">从基本信息开始</div>
        </div>
        <div class="separate-line"></div>
        <div class="basic-icon-item">
            <div ng-link="['CoreDescription']" class="basic-icon-active">2</div>
            <div ng-link="['CoreDescription']" class="basic-text">核心描述</div>
        </div>
        <div class="separate-line"></div>
        <div class="basic-icon-item">
            <div ng-link="['DetailedInfo']" class="basic-icon-active">3</div>
            <div ng-link="['DetailedInfo']" class="basic-text">详细信息</div>
        </div>
    </div>

</div>

<ng-outlet></ng-outlet>