<div class="appFooterSection ">
    <div class="footerInfoAndCopySection">
        <div class="footerInformationSection">
            <table class="footerInfoTable">
                <tr class="footerInfoThRow">
                    <th><span class="footerInfoThFont">为什么选择这里
                        </span>
                    </th>
                    <th><span class="footerInfoThFont">关于我们
                        </span>
                    </th>
                    <th><span class="footerInfoThFont">帮助
                        </span>
                    </th>
                </tr>
                <tr class="footerInfoTdRow">
                    <td><span class="footerInfoTdFont">ProjectX特点
                        </span>
                    </td>
                    <td><span class="footerInfoTdFont">团队介绍
                        </span>
                    </td>
                    <td><span class="footerInfoTdFont">联系我们
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><span class="footerInfoTdFont">信任与安全
                        </span>
                    </td>
                    <td><span class="footerInfoTdFont">工作机会
                        </span>
                    </td>
                    <td><span class="footerInfoTdFont">常见问题
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><span class="footerInfoTdFont">邀请好友
                        </span>
                    </td>
                    <td><span class="footerInfoTdFont">商业合作
                        </span>
                    </td>
                    <td><span class="footerInfoTdFont">条款与隐私
                        </span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="footerCopyrightSection">
            <table class="footerCopyRightTable">
                <tr>
                    <td><div class="logoIcon footerLogoIconSection"></div>
                    </td>
                    <td><span class="footerCopyRightTdFont">Copyright © 2017 ProjectX.Inc</span>
                    </td>
                    <td>
                        <div class="weiboIcon iconWraper" ng-click="test()"></div>
                        <div class="wechatIcon iconWraper"></div>
                        <div class="wechatFriendsIcon iconWraper"></div>
                        <div class="wechatBookmarkIcon iconWraper"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="footerFollowSection">
        <table class="footerFollowTable">
            <tr class="footerFollowThRow">
                <th><span class="footerInfoThFont">关注我们
                        </span>
                </th>
            </tr class="footerFollowTableRow">
                <td><span class="footerInfoTdFont">ProjectX公众号：hello_ProjectX
                        </span>
                </td>
            <tr>
            </tr>
            <tr>
                <td><div id="followUsqrcode" class="followUsqrcodeSection"></div>
                </td>
            </tr>
        </table>
    </div>
</div>